

main {
    section {
        &.parrafo-copete {
            div {
                h2 {
                    &.subtitulos-h2 {
                        @include subtitulo-h2;
                        color: $color-h2;
                        //mixin
                    }
                }
            }

            p {
                &.parrafo-tipo1 {
                    @include parrafo-tipo1;
                }
            }
        }

        &.servicios-container {
            div {
                h3 {
                    &.estilo-subtitulo {
                        @include estilo-subtitulo;
                        color: $color-h3;
                    }
                }

                img {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 50% 100%, 0 89%);
                }

                p {
                    &.parrafo-tipo2 {
                        @include parrafo-tipo2;
                        margin-top: 0.5cm
                    }
                }

            }
        }
    }
}

