
main {
    position: relative;

    section {
        &.edificio {
            div {
                h2 {
                    &.subtitulos-h2 {
                        @include subtitulo-h2;
                        color: $color-h2;
                        margin: 10px auto;
                    }
                }
            }
        }

        &.img-edificios {
            display: grid;
            grid-template-columns: repeat(4, 1fr); // Cuatro columnas para escritorio
            gap: 20px;
            margin: 20px;
            padding: 20px;

            .img-edificio70,
            .img-edificio76,
            .img-edificio18,
            .img-edificio43,
            .img-edificio73,
            .img-edificio89,
            .img-edificio92,
            .img-edificio94 {
                @include imagenes-edificiods;
                @include scale-hover(1.5, 1.5, 1s, 2s);

                aspect-ratio: 1 / 1;
                overflow: hidden;
            }
        }
    }

    p {
        &.parrafo-tipo1 {
            @include parrafo-tipo1;
        }
    }
}
