main {
    section {
        div {
            h2 {
                &.subtitulos-h2 {
                    @include subtitulo-h2;
                    color: $color-h2;
                    text-align: center;
                }
            }
        }

        p {
            &.parrafo-tipo1 {
                @include parrafo-tipo1;

            }

            &.parrafo-tipo2 {
                @include parrafo-tipo2;
                padding: 0 1cm 1% 1cm;
                text-align: center;
            }
        }

        .gif-container { // gifs
            display: flex;
            justify-content: center; 
            margin-top: 2%;
            margin-bottom: 2%;
            gap: 40px; 

            img {
                width: 100px; 
                height: auto; 
            }
        }

        h3 {
            &.estilo-subtitulo {
                @include estilo-subtitulo;
                color: $color-h3;
                padding: 1cm 1cm 1% 1cm;

            }
        }
    }
}