body {
    height: 100%;
    // Hace que el body ocupe toda la altura de la página //
   
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    
    background-attachment: fixed; 


}

//RECORDAR cuando linkeo imagenes salen de la nueva carpeta estilos.css//