@mixin flexbox ($flex-d, $justify-c, $align-item, $wrap) {
    display: flex;
    flex-direction: $flex-d;
    justify-content: $justify-c;
    align-items: $align-item;
    flex-wrap: $wrap;
}

@mixin subtitulo-h2 {
    font-size: 250%;
    font-family: "EB Garamond", serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
    padding-bottom: 1%;

    font-weight: 700;
}

@mixin parrafo-tipo1 {
    font-size: xx-large;
    
    font-family: "EB Garamond", serif;
    padding: 0 1cm 1% 1cm;
}

@mixin estilo-subtitulo {
    font-size: 200%;
    font-family: "EB Garamond", serif;
    margin-bottom: 0.5cm;
//saco  text-align: justify; para modificar los MQ
    font-weight: 500;
}

@mixin subtitulo-contacto {
    font-size: 120%;
    font-family: "EB Garamond", serif;
    margin-bottom: 0.5cm;
    font-weight: 700;
}

@mixin parrafo-tipo2 {
    font-family: "EB Garamond", serif;
    font-size: 150%;

}

@mixin imagenes-edificiods {
    width: 100%;
    height: auto; // Mantiene la proporción de la imagen
    object-fit: cover; // Asegura que la imagen cubra su contenedor
    display: block;
}



@mixin scale-hover($scale-x: 1.5, $scale-y: 1.5, $enter-time: 1s, $return-time: 2s) {
    position: relative;
    z-index: 1;
    transition: transform $return-time ease;

    &:hover {
        transform: scale($scale-x, $scale-y);
        transition: transform $enter-time ease;
        z-index: 10;
    }
}

//transformaciones transicion + animacion

// mixin es un bloque de propiedades que trabajan en conjunto y se reutilizan