$color-blue: #ffffff;

$color-nav: #a14e4e;
//#c3d1fd

$color-black: black;
//lo paso: "color: $color-black;

$color-white: white;

$color-h3: #00039b;

$color-h2: #9f1414;


//variables son cosas que se pueden repetir en diferentes lugares como unica propiedad

//GLOBALES se definen al comienzo del archivo (no dentro de un bloque o selector)
//LOCALES dentro de un selector, solo dentro de ese